<mat-grid-list cols="3" rowHeight="1:1">
  <div *ngIf="isLoading">
    <div
      *ngFor="
        let fakepicture of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          21
        ]
      "
    >
      <mat-grid-tile>
        <ion-skeleton-text
          [animated]="true"
          class="skeleton-loading"
        ></ion-skeleton-text>
      </mat-grid-tile>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div *ngFor="let picture of pictures">
      <mat-grid-tile>
        <div
          matRipple
          [matRippleColor]="color"
          class="image-wrapper"
          (click)="addPicture(picture)"
        >
          <img class="image-container" src="{{ picture.download_url }}" />
        </div>
      </mat-grid-tile>
    </div>
  </div>
</mat-grid-list>
